.DS_Store
.cache
.coverage
.coverage.*
.dmypy.json
.env/
.env/
.ENV/
.ENV/
.hypothesis/
.ipynb_checkpoints/
.installed.cfg
.mypy_cache/
.python-version
.pytest_cache/
.tox/
.tox/*
.venv/
.venv/
__pycache__/
*.bin
*.cover
*.dll
*.dylib
*.egg
*.egg-info/
*.exe
*.py[cod]
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
eggs/
env/
ENV/
lib/
lib64/
nosetests.xml
parts/
sdist/
var/
venv/
