# Ignore binary files
*.bin
*.exe
*.dll
*.so
*.dylib

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Ignore pipenv files
Pipfile.lock

# Ignore mypy files
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore coverage files
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Ignore pyenv files
.python-version

# Ignore tox files
.tox/
.tox/*